name: Auto cherry-pick Keiyoushi

on:
  schedule:
    - cron: "0 2 * * *"
    - cron: "0 5 * * *"
    - cron: "0 8 * * *"
    - cron: "0 11 * * *"
    - cron: "0 14 * * *"
    - cron: "0 17 * * *"
    - cron: "0 20 * * *"
    - cron: "0 23 * * *"
  workflow_dispatch: # Manual dispatch

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: write

jobs:
  auto-merge:
    name: Auto cherry-pick yuzuno
    #if: github.repository == 'yuzono/tachiyomi-extensions'
    runs-on: ubuntu-latest

    steps:
      - name: Clone master
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          ref: master
          path: master
          fetch-depth: 100
          token: ${{ secrets.BOT_PAT }}

      - name: Cherry-picking
        run: |
          cd master

          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"

          git fetch origin yuzuno
          git checkout yuzuno
          echo "Last commit: `git log -1 --oneline`"
          git remote add yuzuno-upstream https://github.com/yuzono/tachiyomi-extensions
          git fetch yuzuno-upstream
          echo "Last commit: `git log -1 --oneline yuzuno-upstream/master`"

          echo "Incoming commits:"
          echo "`git log yuzuno..yuzuno-upstream/master --oneline`"
          upcoming_changes=`git log yuzuno..yuzuno-upstream/master --pretty="%h"`

          # Read the upcoming changes' hash into an array
          upcoming_changes_hash=()
          while read -r line; do
            upcoming_changes_hash+=("$line")
          done <<< "$upcoming_changes"

          git checkout master
          echo "Last commit: `git log -1 --oneline`"
          # Loop through indices in reverse order
          for (( i=${#upcoming_changes_hash[@]}; i>=0; i-- )); do
            if [ ! -z "${upcoming_changes_hash[i]}" -a "${upcoming_changes_hash[i]}" != " " ]; then
              echo "[$i]: Cherry picking '${upcoming_changes_hash[i]}'"
              git cherry-pick --allow-empty --keep-redundant-commits "${upcoming_changes_hash[i]}"
              latest_hash=${upcoming_changes_hash[i]}
            else
              echo "[$i]: skip '${upcoming_changes_hash[i]}'"
            fi
          done

          echo "Last commit: `git log -1 --oneline`"

          echo "LATEST_HASH=${latest_hash}" >> $GITHUB_ENV

      - name: Merging yuzuno-upstream to yuzuno
        run: |
          cd master
          git checkout yuzuno
          echo "Last commit: `git log -1 --oneline`"
          latest_commit_hash=${{ env.LATEST_HASH }}
          if [ ! -z "$latest_commit_hash" -a "$latest_commit_hash" != " " ]; then
            echo "Merging commit '$latest_commit_hash' from 'yuzuno-upstream' into yuzuno"
            git merge "$latest_commit_hash" --no-ff -m "Merge branch 'yuzuno-upstream' into yuzuno"
          fi

          echo "Last commit: `git log -1 --oneline`"

      # - name: Merging master to merge-keiyoushi
      #   run: |
      #     cd master
      #     git fetch origin merge-keiyoushi
      #     git checkout merge-keiyoushi
      #     echo "Last commit: `git log -1 --oneline`"
      #     echo "Merging 'master' into merge-keiyoushi"
      #     git merge --no-edit master
      #     echo "Last commit: `git log -1 --oneline`"

      # - name: Merging keiyoushi-upstream to merge-keiyoushi
      #   run: |
      #     cd master
      #     echo "Merging 'keiyoushi-upstream/main' into merge-keiyoushi"
      #     git merge --no-edit keiyoushi-upstream/main
      #     echo "Last commit: `git log -1 --oneline`"

      - name: Pushing to repo
        run: |
          cd master
          git checkout master
          echo "Last commit: `git log -1 --oneline`"
          echo "Pushing 'master' to repo"
          git push
          git checkout yuzuno
          echo "Last commit: `git log -1 --oneline`"
          echo "Pushing 'yuzuno' to repo"
          git push
          # git checkout merge-keiyoushi
          # echo "Last commit: `git log -1 --oneline`"
          # echo "Pushing 'merge-keiyoushi' to repo"
          # git push
